/*--tabs-home--*/
.tab-pane-carousel{
    display: none;
}
.tab-pane-carousel.active{
    display: block;
}
.j-tab-switcher{
    margin-left: 8px;
    padding: 0 16px;
    font-size: 15px;
    line-height: 36px;
    border: 1px solid #d5d7dc;
    border-radius: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    white-space: nowrap;
}
.j-tab-switcher a{
     color: #000;
}
.j-tab-switcher.active{
    display: inline-block;
    background-color: #7D4198;
    border-color: #7D4198;
}
.j-tab-switcher.active a{
    color: #fff;
}
.j-novelties-switcher{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0px 16px 10px 8px;
    }
.tabs-carousel{
    overflow-x: scroll;
}
.products-tabs-content .block-products .product-layout, .products-tabs-content .block-products{
    margin-bottom: 0px!important;
}
.novelties-tab-container{
    width: 100vw;
}
/*--end-tabs-home--*/

.owl-one-carousel{
    position: relative;
}

.novelties-tab-container{
    position: relative;
}
.show-full {
    color: #646464;
    font-size: 13px;
    padding-left: 10px;
    text-transform: none;
}

@media(max-width: 767px){
    .show-full{
        display: flex;
        padding-left: 0px;
        min-width: 100px;
        margin-left: 10px;
    }
}
